```
To solve and analyse US Home Prices, I have collected over 10 datasets from diffrent repositories which represent different data that has some relation in deciding US Home Prices.
```

In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_column",None)

In [2]:
permit = pd.read_csv('Data/PERMIT.csv')
permit.rename(columns={'PERMIT':'Permit'}, inplace=True)
permit.head()

         DATE       Permit
0  2000-01-01  1690.000000
1  2000-04-01  1570.666667
2  2000-07-01  1554.666667
3  2000-10-01  1578.000000
4  2001-01-01  1671.333333

In [3]:
construction = pd.read_csv('Data/fredgraph(construction).csv')
construction.rename(columns={'TTLCONS':'Total_constuctions'}, inplace=True)
construction.drop(construction.index[84:],inplace=True)
construction.head()

         DATE Total_constuctions
0  2000-01-01            2388136
1  2000-04-01            2405182
2  2000-07-01            2403466
3  2000-10-01            2447670
4  2001-01-01            2456183

In [4]:
home_sold = pd.read_csv('Data/HNFSEPUSSA(House Sold).csv')
home_sold.rename(columns={'HNFSEPUSSA':'Homes_sold'}, inplace=True)
home_sold.head()

         DATE  Homes_sold
0  2000-01-01       923.0
1  2000-04-01       916.0
2  2000-07-01       905.0
3  2000-10-01       904.0
4  2001-01-01       884.0

In [5]:
house_starts = pd.read_csv('Data/HOUST(Housing Starts).csv')
house_starts.rename(columns={'HOUST':'New_projects'}, inplace=True)
house_starts.drop(house_starts.index[84:],inplace=True)
house_starts.head()

         DATE           New_projects
0  2000-01-01  1659.0000000000000000
1  2000-04-01  1586.6666666666666667
2  2000-07-01  1503.6666666666666667
3  2000-10-01  1544.0000000000000000
4  2001-01-01  1605.0000000000000000

In [6]:
vacancy = pd.read_csv('Data/fredgraph(Listing).csv')
vacancy.rename(columns={'RHVRUSQ156N':'For_sale(%)'}, inplace=True)
vacancy.head()

         DATE  For_sale(%)
0  2000-01-01          1.6
1  2000-04-01          1.5
2  2000-07-01          1.6
3  2000-10-01          1.6
4  2001-01-01          1.5

In [7]:
from functools import reduce
df = [permit,construction,home_sold,house_starts,vacancy]

In [8]:
supply_df = reduce(lambda left,right: pd.merge(left,right,on=['DATE'],how='inner'),df)

In [9]:
supply_df.DATE = pd.to_datetime(supply_df.DATE)

In [10]:
supply_df.New_projects = pd.to_numeric(supply_df.New_projects)
supply_df.Total_constuctions = pd.to_numeric(supply_df.Total_constuctions)
data_types_dict = {'Permit': int, 'Homes_sold':int, 'New_projects':int}
supply_df = supply_df.astype(data_types_dict)

In [11]:
supply_df.head()

,DATE,Permit,Total_constuctions,Homes_sold,New_projects,For_sale(%)
0,2000-01-01,1690,2388136,923,1659,1.6
1,2000-04-01,1570,2405182,916,1586,1.5
2,2000-07-01,1554,2403466,905,1503,1.6
3,2000-10-01,1578,2447670,904,1544,1.6
4,2001-01-01,1671,2456183,884,1605,1.5

In [12]:
supply_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84 entries, 0 to 83
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DATE                84 non-null     datetime64[ns]
 1   Permit              84 non-null     int64
 2   Total_constuctions  84 non-null     int64
 3   Homes_sold          84 non-null     int64
 4   New_projects        84 non-null     int64
 5   For_sale(%)         84 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(4)
memory usage: 4.6 KB

In [14]:
supply_df.to_csv('supply_df')

In [15]:
demand = pd.read_csv('Data/demand_data.csv')
demand.drop('HPI', axis=1, inplace=True)
rename_lis = {'UNEM_RATE':'Unemplyment_rate(%)','MORTGAGE':'Mortgage(%)','GDPC1':'GDP(Billions$)','FORECLOSURES':'Delinquency_rate(%)'}
demand.rename(columns=rename_lis,inplace=True)
demand.DATE = pd.to_datetime(demand.DATE)
demand.head()

,DATE,Unemplyment_rate(%),Mortgage(%),GDP(Billions$),Delinquency_rate(%)
0,2000-01-01,4.03,8.26,12935.252,1.95
1,2000-04-01,3.93,8.32,13170.749,1.97
2,2000-07-01,4.00,8.02,13183.890,2.09
3,2000-10-01,3.90,7.62,13262.250,2.23
4,2001-01-01,4.23,7.01,13219.251,2.34

In [16]:
demand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   DATE                 84 non-null     datetime64[ns]
 1   Unemplyment_rate(%)  84 non-null     float64
 2   Mortgage(%)          84 non-null     float64
 3   GDP(Billions$)       84 non-null     float64
 4   Delinquency_rate(%)  84 non-null     float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 3.4 KB

In [17]:
demand.to_csv('demand_df')

In [28]:
hpi = pd.read_csv('Data/fredgraph(HPI).csv')
hpi.rename(columns={'CSUSHPISA':'Home_price'},inplace=True)
hpi.DATE = pd.to_datetime(hpi.DATE)
hpi.tail()

         DATE  Home_price
79 2019-10-01  212.450000
80 2020-01-01  215.541667
81 2020-04-01  217.803333
82 2020-07-01  222.705667
83 2020-10-01  232.543667

In [29]:
hpi.to_csv('HPI')

In [32]:
from functools import reduce

dfs = [demand,supply_df,hpi]

data = reduce(lambda left,right: pd.merge(left,right, on=['DATE'], how='inner'),dfs)
data.set_index("DATE", inplace=True)

data.to_csv('HP_data')